
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Paneli</title>
</head>
<body>
    <div>
       
    </div>
</body>
</html>
