
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <!-- partial:index.partial.html -->
  
    <section id="header" class="jumbotron text-center" style="height: 400px; background:url(https://images.pexels.com/photos/60217/pexels-photo-60217.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) center center / cover no-repeat ">
        <h1 class="display-3">VACATION MANAGEMENT</h1>
        <p class="lead">Aradığınız tatil bir tık uzakta.</p>
        <a href="/Hotel/Index" class="btn btn-primary">Otelleri Listele</a>
        <a href="/Tur/Index" class="btn btn-danger">Turları Listele</a>
    </section>


    <!-- partial -->
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src='https://use.fontawesome.com/releases/v5.8.1/js/all.js'></script>
</body>
</html>
